.box1 {
  /* margin-left: 30px;
  margin-top: 30px;
  margin-right: 10px; */
  padding: 7px;
  width: 98%
}

.events {
 

  font-size: 13px;
  color: #5F5F5F;
  padding: 10px;
  width: 250px;

 
}

table {
  border: 1px solid #D2D3D4;
  border-radius: 10px;
  border-spacing: 0px;
  width: 100%
  
  
}

td, th {
  border-bottom: 1px solid #D2D3D4;
  border-left: 1px solid #D2D3D4;
  border-spacing: 0px;
  padding: 10px;
  font-size: 13px;
  margin: 0px;
  color: #5F5F5F
}


.top {
  background-color: #F9F9F9;
  border-top-left-radius: 10px;
}

.card {
  border: 1px solid #D2D3D4
}

.bar {
  border-left: 1px solid #D2D3D4;
}

h2 {
  font-size: 18px;
  color: #5F5F5F
}

