.box1 {
  margin-left: 30px;
  margin-top: 30px;
}

.events {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  color: #5F5F5F;
  padding: 10px;
}

table {
  border: 1px solid #D2D3D4;
  border-radius: 10px;
  border-spacing: 0px;
}

td, th {
  border-bottom: 1px solid #D2D3D4;
  border-left: 1px solid #D2D3D4;
  border-spacing: 0px;
  padding: 15px;
  font-size: 14px;
  margin: 0px;
  color: #5F5F5F
}

.top {
  background-color: #F9F9F9
}

.card {
  border: 1px solid #D2D3D4
}

.bar {
  border-left: 1px solid #D2D3D4;
}